
<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>List A Space</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/listSpace.css}">
        <link href="form-validation.css" rel="stylesheet">
    </head>

    <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Checkout form</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>

        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Makers bnb</h4>

                <form class="sign-up-form" novalidate>

                    <div class="mb-3">
                        <label for="InputTitle"> Title <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="InputTitle" placeholder="Title">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="InputLocation">Location</label>
                        <input type="text" class="form-control" id="InputLocation" placeholder="InputLocation">
                    </div>


                    <div class="mb-4">
                        <label for="InputDescription">Description <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="InputDescription" placeholder="InputDescription">
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                </form>

            </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/listASpace.js"></script>

</body>
</html>