<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Makers BnB</a>
            </div>
        </div>
    </nav>
    <form action="/blah" method="get">
        <div><input type="text"placeholder="Email address"></div><br>
        <div><input type="text"placeholder="Password"></div><br>
        <div><input type="submit" value="Log in"></div><br>
    </form>
</div>
</body>
</html>